﻿@model MVCEmployes.EditFormEmployee

<form data-ajax='true' id='formEmpl' method='post'>

    @Html.Hidden("edit_id", Model.edit_id)

    <div class="form-group">
        <label for="edit_FirstName">Имя</label>
        <input type="text" class="form-control" id="edit_FirstName" name="edit_FirstName" placeholder="Имя" value="@Model.edit_FirstName" required>
        <div class="invalid-feedback">
            Please provide a valid city.
        </div>
    </div>
    <div class="form-group">

    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="edit_LastName">Фамилия</label>
            <input type="text" class="form-control" id="edit_LastName" name="edit_LastName" placeholder="Фамилия" value="@Model.edit_LastName" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
    </div>
    <button class="btn btn-primary" onclick='submitEmpl()' type="submit">Submit</button>

</form>

