﻿
<script src="~/js/Employee.js?version=1"></script>

<button type="button" class="btn btn-link" onclick="openDetalies(0);">Добавить</button>


<div id="table_empls">
    @await Component.InvokeAsync("EmployeeList")
</div>


@{ 
    Html.RenderPartial("~/Views/Employes/ModalCreate.cshtml"); 
}