﻿


<div class="modal fade" id="myModalEmplForm">
    <div class="modal-dialog  modal-dialog-centered" role="document" style="width: 1200px;">
        <div class="modal-content" style="background-color: #EDF3F4;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                
            </div>
            <h4 class="modal-title">Редактирование Информации</h4>
            <div class="modal-body" id="EmployeeFormDiv">

            </div>
        </div>
    </div>
</div>
