﻿@model IEnumerable<MVCEmployes.Models.Employes>

    <h4>Список сотрудников:</h4>

    <table id="EmplTable" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">

                </th>

                <th scope="col">
                    Имя
                </th>
                <th scope="col">
                    Фамилия
                </th>
                <th scope="col">
                    Время редактирования
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empl in Model)
            {
            <tr>
                <td>

                    <button type='button' class='btn btn-link' onclick='openDetalies(@empl.id)'>Update</button>
                    <button type='button' class='btn btn-link' onclick='delete_empl(@empl.id)'>Delete</button>
                </td>
                <td>
                    @empl.FirstName
                </td>
                <td>
                    @empl.LastName
                </td>
                <td>
                    @empl.DateUpdate
                </td>
            </tr>
                }


</tbody>
    </table>
